/**
 * @name Better UI Debug
 * @author Rashnain
 * @version 1.1.13
 * @description A theme that takes advantage of your entire screen and compact some things, with more improvements for the user experience included.
 * @source https://github.com/Rashnain/BetterUI
*/


/* Variables */
:root {
	/* Défini la hauteur de la barre de serveur (avec HSL) et la taille des boutons */
	--server-container: calc(var(--server-size, 22px) + 15px) !important;
	/* (Avec HSL) Marge au dessus et en dessous des icones des serveurs */
	--server-margin: calc(var(--server-spacing) - calc(var(--server-spacing) - 5px));
	/* Adapte la marge de la barre d'outils en fonction de la présence d'HLS */
	--toolbar-margin: calc(3 * var(--server-container) - 8px - var(--toolbar-margin-hsl, 0px));
	--toolbar-margin-hsl: calc(3 * calc(var(--server-size) + 15px) - 8px);
	/* Adapte la position de l'arrière plan de dossier de serveurs en fonction de la présence d'HLS */
	--fix-folder: calc(12px + var(--fix-folder-hsl, 0px));
	--fix-folder-hsl: calc(var(--server-size) / 2 - 7px);
	/* Visibilité de l'onglet Amis (visible par défaut) */
	--bui-friends-tab: none;
	/* Visibilité des boutons à droite de la boîte de message */
	--bui-message-buttons: none;
}


/* Liste des messages privés */
	/* Retire l'onglet Nitro */
	.link-39sEB3[href="/store"] {
		display: none;
	}
	/* Retire l'onglet Amis (désactivé par défaut) */
	.link-39sEB3[href="/channels/@me"] {
		display: var(--bui-friends-tab, block);
	}
	/* Retire l'espace entre la recherche et les MP */
	.content-2a4AW9 > div[style="height: 8px;"] {
		height: 0 !important;
	}
	/* Réduit l'espacement au-dessus de "MESSAGES PRIVÉS" */
	.privateChannelsHeaderContainer-1UWASm {
		padding-top: 4px;
		height: 22px;
	}
	/* Ne modifie pas la couleur au survol de "MESSAGES PRIVÉS" */
	.privateChannelsHeaderContainer-1UWASm:hover {
		color: rgb(142, 146, 151);
	}


/* Barre de navigation des paramètres */
	/* Retire l'espace vide de gauche */
	.sidebarRegion-1VBisG {flex: 0}
	/* Rend la barre de navigation des paramètres plus compacte */
	.sidebar-nqHbhN {padding: 10px 5px 5px 5px}
	/* Réduit de peu la hauteur d'un onglet */
	.item-3XjbnG.themed-2-lozF {padding: 5px 10px}
	/* Réduit l'espace autour des séparateurs d'onglets */
	.separator-2wx7h6 {margin: 2px 2px 4px 2px !important}
	/* Parité entre l'header de BD et ceux de Discord */
	.header-2Kx1US {padding: 6px 10px !important}


/* Permet aux pages de s'afficher sur l'ensemble de l'écran */
	/* Règle générale */
	.contentColumn-1C7as6, .customScroller-m1-jZn > div, .customColumn-2n-oKU {
		padding: 20px;
		max-width: 95%;
	}
	/* Pour certaines pages des paramètres d'un serveur, supprime l'espace au dessus du titre */
	.content-2a4AW9 div[style*="height: 60px;"] {height: 0 !important}
	/* Pareil pour l'onglet Logs du serveur */
	.content-28mbXd .customHeader-3mDgmH {
		padding: 0;
	}
	/* Corrige les contours pour l'onglet Logs de serveur */
	.content-2a4AW9, .content-28mbXd {margin: 0 !important}
	/* Corrections supplémentaires pour les rôles */
		/* Retire l'espace vide au dessus du bouton retour */
		.titleContainer-3fPic2 {padding-top: 0}
		/* Partie de droite qui prend tout l'écran */
		.contentWidth-3aWel5 {max-width: 95%}
		/* Retire l'espace vide au dessus de la partie de droite */
		.header-JUTO-g {padding-top: 20px}
		/* Ajuste la partie de droite pour s'afficher correctement */
		.contentContainer-3hXFtK, .headerContainer-7V7BBm {padding-left: 20px !important}


/* Messages */
	/* Retire le bouton de cadeau */
	.buttons-uaqb-5 > button {display: none}
	/* Retire les autres boutons */
	.buttons-uaqb-5 {display: var(--bui-message-buttons, flex)}
	/* Réduit l'espace en dessous de la zone d'envoi de message et du panneau de suivi de salon d'annonces */
	.channelTextArea-1FufC0.channelTextArea-1VQBuV, .wrapper-1_HaEi {margin: 0}
	/* Met un espace uniforme autour de 10 pixels */
	.form-3gdLxP {padding: 10px}
	/* Corrige la barre qui indique qu'on lit d'anciens messages */
	.jumpToPresentBar-1cEnH0 {padding: 0}
	/* Réduit les pseudos de ceux qui sont en train d'écrire */
	.typing-2J1mQU {height: 10px}
	/* Réduit l'espace entre le dernier message et la boîte d'envoi de message */
	.scrollerSpacer-3AqkT9 {height: 5px}
	/* Réduit la place autour des dates qui séparrent les messages */
	.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK.hasContent-31hcsn {margin: 10px}
	/* Réduit la marge latéral des messages */
	.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB {
		padding-right: 5px !important;
		padding-left: 60px;
	}
	/* Réduit l'espace autour de l'avatar de l'auteur d'un message */
	.avatar-2e8lTP {left: 10px}
	/* Réduit l'espace autour des conteneurs d'icône (appel, thread) */
	.iconContainer-2rPbqG {width: 60px !important}
	/* Adapte le petit fil des threads */
	.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB:after {
		left: 29px !important;
		width: 1.25em;
	}


/* Modification de message */
	/* Retire l'astuce en dessous de la boîte de modification */
	.operations-3q3u6E {display: none}
	/* Enlève la marge au dessus de l'éditeur de message */
	.channelTextArea-220_Gz.channelTextArea-1VQBuV {margin: 0}
	/* Retire l'espace autour du texte du message */
	.markup-eYLPri.slateTextArea-27tjG0.fontSize20Padding-1vWJeR.textAreaWithoutAttachmentButton-1as0NS {padding: 0}


/* Modifications du grand profil */
	/* Changement de la taille */
	.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 {
		width: 875px;
		min-height: 700px;
	}
	/* Bannière de couleur qui prend toute la largeur */
	.profileBanner-1owKI5 {width: 100%}
	/* Banière Nitro centrée */
	.profileBannerPremium-KD60EB {margin-left: 137.5px}
	/* Adaptation de la partie inférieure */
	.body-1Ukv50, .listScroller-entkMk {height: 404px}


/* Retire la barre supérieur et le logo Discord (inspiré de Windows titlebar de Gibbu) */
	/* Retire le logo */
	.wordmarkWindows-2dq6rw {display: none}
	/* Retire la barre supérieure de la fenêtre */
	.typeWindows-2-g3UY {
		position: absolute;
		width: 100%;
		height: 10px;
		margin: 0;
	}
	/* Taille des boutons */
	.winButton-3UMjdg {
		top: 0;
		height: var(--server-container);
		width: var(--server-container);
	}
	/* Adapte le bouton de fermeture des paramètres */
	.toolsContainer-25FL6V {padding-top: calc(10px + var(--server-container))}
	/* Décale la barre d'outils du côté droit pour laisser la place aux boutons de la fenêtre (s'auto désactive avec HSL) */
		.toolbar-3_r2xA {margin-right: var(--toolbar-margin)}
	/* Pour Horizontal Server List */
		/* Réduit la marge en dessous des serveurs */
		.guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
			margin: var(--server-spacing, 8px) var(--server-margin, 0) !important;
		}
		/* Fixe l'arrière plan des dossiers de serveurs */
		.expandedFolderBackground-1kSAf6 {left: var(--fix-folder) !important}
		/* Donne de la place aux serveurs (empêche qu'ils soit sous les boutons) */
		.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
			margin-bottom: calc(3 * calc(var(--server-size) + 15px));
		}


/* Améliore RadialStatus */
	/* Met le même pourcentage de courbure aux avatars de la liste de messages et dans les salons vocaux */
	.avatar-2e8lTP, .avatar-3TrM7c {border-radius: var(--rs-avatar-shape, 50%)}


/* Autre */
	/* Dans la liste de membres latérale, met les séparateurs de rôles au centre */
	.membersGroup-2eiWxl {padding: 12px}
	/* Réduit la hauteur de la barre d'outils (celle en permanence en haut de l'écran) */
	.container-ZMc96U, .header-3OsQeK, .searchBar-3TnChZ {height: 37px}
	/* Réduit l'espace entre les cathégories de serveurs */
	.containerDefault-3TQ5YN {padding-top: 10px}
	/* Fixe l'espace entre la bannière de serveur et la première cathégorie/salon */
	.hasBanner-2IrYih + div + .positionedContainer-W9XtGp + .scrollerBase-_bVAAt > .content-2a4AW9 > div[style="height: 84px;"] {
		height: 98px !important;
	}
	/* Réduit la place qu'utilise le bouton de fermeture des paramètres */
	.toolsContainer-25FL6V {margin-right: 15px !important}
	/* Image de l'onglet Nitro au milieu */
	.hero-1aNo0v.desaturate-_Twf3u {margin-left: calc(50% - 330px)}
	/* Centre "Inclut également" de l'onglet Nitro */
	.featuresHeader-2bjq5B {
		text-align: center;
		margin-top: 16px;
	}
	/* Corrige la vidéo de la HypeSquad */
	.outer-VAWfYQ.video-293uMj.videoWrapper-1_H3B3 {
		padding: 0 !important;
		width: 640px;
		height: 360px;
	}
	/* Corrige la page de l'overlay en jeu */
	.notificationSettings-1U0JsJ {max-width: 35%}
	/* Taille de la barre de recherche fixe */
	.searchBar-zdmu7v {width: 240px}
	/* Sur les popup des Webhook : les marques comme tel et supprime la barre */
	.avatarWrapperNonUserBot-2LumL4 + .headerTop-3GPUSF .botText-1fD6Qk:before {content: 'WEBHOOK '}
	/* Sur les popup des Webhook : Supprimme la ligne qui ne sépare rien */
	.avatarWrapperNonUserBot-2LumL4 + .headerTop-3GPUSF + div {display: none}
	/* Retire l'étiquette 'Nouveau' de la liste des serveurs */
	.unreadMentionsIndicatorBottom-3RJMnQ {display: none}
	/* Retire le bouton de découverte de serveurs publics */
	.tutorialContainer-2jwoiB + .listItem-3SmSlK {display: none}
	/* Donne à l'image de l'écran d'invitation à rejoindre un serveur le bon ratio */
	.inviteSplash-2Q0PLE {
		width: 790px;
	}
