:root {
	/* Set the height of the server list (with HSL) and the size of the window buttons */
	--server-container: calc(var(--server-size, 33px) + 15px) !important;
	/* (With HSL) Margin above and below server list */
	--server-margin: calc(var(--server-spacing) - calc(var(--server-spacing) - 5px));
	/* Adjust right margin of the toolbar depending on HSL presence */
	--toolbar-margin: calc(3 * var(--server-container) - 8px - var(--toolbar-margin-hsl, 0px));
	--toolbar-margin-hsl: calc(3 * calc(var(--server-size) + 15px) - 8px);
	/* Adjust the position of the server folder background depending on HSL presence */
	--fix-folder: calc(12px + var(--fix-folder-hsl, 0px));
	--fix-folder-hsl: calc(var(--server-size) / 2 - 7px);
}


/* List of private channels */
	/* Remove Nitro tab */
	.link_c91bad[href="/store"], .link_c91bad[href="/shop"] {display: none}
	/* Remove Friends tab (configurable) */
	.link_c91bad[href="/channels/@me"] {
		display: var(--bui-friends-tab, block);
	}
	/* Remove app button */
	.channelAppLauncher_df39bd {
		display: none;
	}
	/* Reduce margin between search and DM */
	.content_eed6a8 > div[style="height: 8px;"] {
		display: var(--bui-friends-tab);
	}
	/* Reduce margin above "DIRECT MESSAGES" */
	.privateChannelsHeaderContainer_c47fa9 {
		padding-top: 4px;
		height: 22px;
	}
	/* Don't change text colour when hovering over "DIRECT MESSAGES" */
	.privateChannelsHeaderContainer_c47fa9:hover {
		color: rgb(142, 146, 151);
	}


/* Settings navigation bar */
	/* Remove left margin */
	.sidebarRegion_c25c6d {flex: 0}
	/* Compact navigation bar */
	.sidebar_c25c6d {padding: 10px 5px 5px 5px}
	/* Reduce tab height slightly */
	.item-3XjbnG.themed-2-lozF {padding: 5px 10px}
	/* Reduce margin around tab separator */
	.separator-2wx7h6 {margin: 2px 2px 4px 2px !important}
	/* Parity between BD header and Discord header */
	.header-2Kx1US {padding: 6px 10px !important}


/* Allow pages to use full width */
	/* Common rule */
	.contentColumn_c25c6d, .customScroller_c25c6d > div, .customColumn_c25c6d {
		padding: 20px;
		max-width: 95%;
	}
	/* For some server pages, remove space above title */
	.content-2a4AW9 div[style*="height: 60px;"] {height: 0 !important}
	/* Same for server logs */
	.content_cfe282 .customHeader_cfe282 {padding: 0}
	/* Correct borders for server logs */
	.content-2a4AW9, .content_cfe282 {margin: 0 !important}
	/* Additional corrections for roles page */
		/* Remove space above the back button */
		.titleContainer_e87574 {padding-top: 0}
		/* Allow the right zone to take more space */
		.contentWidth_bd05f1 {max-width: 95%}
		/* Remove space above right zone */
		.header_bd05f1 {padding-top: 20px}
		/* To render correctly, adjust the right zone */
		.contentContainer_e8251c, .headerContainer_fe3229 {padding-left: 20px !important}


/* Messages */
	/* Remove gift button */
	.buttons_bdf0de > button {display: none}
	/* Remove other buttons (configurable) */
	.buttons_bdf0de {display: var(--bui-message-buttons, flex)}
	/* Reduce space below the message sending box */
	.channelTextArea_a7d72e.channelTextArea_bdf0de, .wrapper_faf5ab {margin: 0}
	/* Add 10 px of padding around it */
	.form_a7d72e {padding: 10px}
	/* Fix the grey bar that indicates it is showing older messages */
	.jumpToPresentBar_cf58b5 {padding: 0}
	/* Move pseudo of writing users */
	.typing_d7ebeb {height: 10px}
	/* Reduce space between the last message and the message sending box */
	.scrollerSpacer_e2e187 {height: 5px}
	/* Reduce space around dates that separate messages */
	.divider_d5deea.hasContent_d5deea.divider_c2654d.hasContent_c2654d {margin: 10px}
	/* Reduce the side margin of messages */
	.message_d5deea.cozyMessage_d5deea.wrapper_f9f2ca.cozy_f9f2ca {
		padding-right: 5px !important;
		padding-left: 60px;
	}
	/* Reduce space around avatar */
	.avatar_f9f2ca {left: 10px}
	/* Reduce space around icon containers (call, thread) */
	.iconContainer_d76df7 {width: 60px !important}
	/* Fix for thread */
	.message_d5deea.cozyMessage_d5deea.wrapper_f9f2ca.cozy_f9f2ca:after {
		left: 29px !important;
		width: 1.25em;
	}


/* Message editing */
	/* Remove the help below the edit box */
	.operations_baf0d6 {display: none}
	/* Remove margin above the edit box */
	.channelTextArea_d5deea.channelTextArea_bdf0de {margin: 0}
	/* Remove space around message */
	.markup_f8f345.slateTextArea_e52116.fontSize20Padding_bdf0de.textAreaWithoutAttachmentButton_bdf0de {padding: 0}


/* Integrate window buttons into the UI */
	/* Remove the logo */
	.wordmarkWindows_a934d8 {display: none}
	/* Remove the window bar */
	.typeWindows_a934d8 {
		position: absolute;
		width: 100%;
		height: 10px;
		margin: 0;
	}
	/* Change buttons size */
	.winButton_a934d8 {
		top: 0;
		height: var(--server-container);
		width: var(--server-container);
	}
	/* Adjust the close button of the settings */
	.toolsContainer_c25c6d {padding-top: calc(10px + var(--server-container))}
	/* Move the toolbar to the left side (adapt to HSL absence) */
	.toolbar_fc4f04 {margin-right: var(--toolbar-margin)}
	/* For HSL */
		/* Reduce margin below servers */
		.guilds_a4d4d9 [class*=listItem]:not([class*=listItemWrapper]) {
			margin: var(--server-spacing, 8px) var(--server-margin, 0) !important;
		}
		/* Fix server folder background */
		.expandedFolderBackground_bc7085 {left: var(--fix-folder) !important}
		/* Fix servers that appear under window buttons */
		.scroller_fea3ef.none_c49869.scrollerBase_c49869 {
			margin-bottom: calc(3 * calc(var(--server-size) + 15px));
		}


/* Enhance RadialStatus */
	/* Use RS' avatar shape in message and server call */
	.avatar_f9f2ca, .avatar_d80634 {border-radius: var(--rs-avatar-shape, 50%)}


/* Others */
	/* Center role name in server members list */
	.membersGroup_cbd271 {padding-top: 12px}
	/* Adjust to MinifiedMemberList */
	.membersWrap_cbd271 .membersGroup_cbd271::after {top: 19px !important}
	/* Reduce toolbar height */
	.container_fc4f04, .header_fd6364, .searchBar_f0963d {height: 37px !important}
	/* Fix server name */
	.header_fd6364 {padding-top: 7px}
	/* Reduce space around server categories */
	.containerDefault_a08117 {padding-top: 10px}
	/* Fix space between server banner and the first category/channel */
	.content_eed6a8 > div[style="height: 84px;"] {
		height: 98px !important;
	}
	/* Reduce space used by the button to close settings */
	.toolsContainer_c25c6d {margin-right: 15px !important}
	/* Fix HypeSquad video */
	.outer_b15852.video-293uMj.videoWrapper_b8e00f {
		padding: 0 !important;
		width: 640px;
		height: 360px;
	}
	/* Fix overlay page */
	.notificationSettings_af804a {max-width: 35%}
	/* Fixed width search bar */
	.searchBar_a46bef {width: 240px}
	/* Remove unread mention appearing on server list */
	.unreadMentionsIndicatorBottom_fea3ef {display: none}
	/* Remove Discovery button */
	.footer_aa1bff {display: none}
	/* Server invite image displayed correctly */
	.inviteSplash_ed5743 {
		width: 790px;
	}
