:root {
	--server-container: calc(var(--server-size, 22px) + 15px) !important;
	--server-margin: calc(var(--server-spacing) - calc(var(--server-spacing) - 5px));
	--toolbar-margin: calc(3 * var(--server-container) - 8px - var(--toolbar-margin-hsl, 0px));
	--toolbar-margin-hsl: calc(3 * calc(var(--server-size) + 15px) - 8px);
	--fix-folder: calc(12px + var(--fix-folder-hsl, 0px));
	--fix-folder-hsl: calc(var(--server-size) / 2 - 7px);
}
.channel-1Shao0[href="/store"] {display: none}
.channel-1Shao0[href="/channels/@me"] {display: var(--bui-friends-tab, block)}
.privateChannelsHeaderContainer-1UWASm {
	padding-top: 4px;
	height: 22px;
}
.privateChannelsHeaderContainer-1UWASm:hover {
	color: rgb(142, 146, 151);
}
.sidebarRegion-1VBisG {flex: 0}
.sidebar-nqHbhN {padding: 10px 5px 5px 5px}
.item-3XjbnG.themed-2-lozF {padding: 5px 10px}
.separator-2wx7h6 {margin: 2px 2px 4px 2px !important}
.header-2Kx1US {padding: 6px 10px !important}
.contentColumn-1C7as6, .customScroller-m1-jZn > div, .customColumn-2n-oKU {
	padding: 20px;
	max-width: 95%;
}
.content-2a4AW9 div[style*="height: 60px;"] {height: 0 !important}
.content-28mbXd .customHeader-3mDgmH {
	padding: 0;
}
.content-2a4AW9, .content-28mbXd {margin: 0 !important}
.titleContainer-3fPic2 {padding-top: 0}
.contentWidth-3aWel5 {max-width: 95%}
.header-JUTO-g {padding-top: 20px}
.contentContainer-3hXFtK, .headerContainer-7V7BBm {padding-left: 20px !important}
.buttons-uaqb-5 > button {display: none}
.buttons-uaqb-5 {display: var(--bui-message-buttons, flex)}
.channelTextArea-1FufC0.channelTextArea-1VQBuV, .wrapper-1_HaEi {margin: 0}
.form-3gdLxP {padding: 10px}
.jumpToPresentBar-1cEnH0 {padding: 0}
.typing-2J1mQU {height: 10px}
.scrollerSpacer-3AqkT9 {height: 5px}
.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK.hasContent-31hcsn {margin: 10px}
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB {
	padding-right: 5px !important;
	padding-left: 60px;
}
.avatar-2e8lTP {left: 10px}
.iconContainer-2rPbqG {width: 60px !important}
.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB:after {
	left: 29px !important;
	width: 1.25em;
}
.operations-3q3u6E {display: none}
.channelTextArea-220_Gz.channelTextArea-1VQBuV {margin: 0}
.markup-eYLPri.slateTextArea-27tjG0.fontSize20Padding-1vWJeR.textAreaWithoutAttachmentButton-1as0NS {padding: 0}
.root-8LYsGj.root-g14mjS.small-23Atuv.fullscreenOnMobile-ixj0e3 {
	width: 875px;
	min-height: 700px;
}
.profileBanner-1owKI5 {width: 100%}
.profileBannerPremium-KD60EB {margin-left: 137.5px}
.body-1Ukv50, .listScroller-entkMk {height: 404px}
.wordmarkWindows-2dq6rw {display: none}
.typeWindows-2-g3UY {
	position: absolute;
	width: 100%;
	height: 10px;
	margin: 0;
}
.winButton-3UMjdg {
	top: 0;
	height: var(--server-container);
	width: var(--server-container);
}
.toolsContainer-25FL6V {padding-top: calc(10px + var(--server-container))}
.toolbar-3_r2xA {margin-right: var(--toolbar-margin)}
.guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
	margin: var(--server-spacing, 8px) var(--server-margin, 0) !important;
}
.expandedFolderBackground-1kSAf6 {left: var(--fix-folder) !important}
.scroller-3X7KbA.none-2-_0dP.scrollerBase-_bVAAt {
	margin-bottom: calc(3 * calc(var(--server-size) + 15px));
}
.avatar-2e8lTP, .avatar-3TrM7c {border-radius: var(--rs-avatar-shape, 50%)}
.membersGroup-2eiWxl {padding: 12px}
.container-ZMc96U, .header-3OsQeK, .searchBar-3TnChZ {height: 37px}
.containerDefault-3TQ5YN {padding-top: 10px}
.hasBanner-2IrYih + div + .positionedContainer-W9XtGp + .scrollerBase-_bVAAt > .content-2a4AW9 > div[style="height: 84px;"] {
	height: 98px !important;
}
.toolsContainer-25FL6V {margin-right: 15px !important}
.hero-1aNo0v.desaturate-_Twf3u {margin-left: calc(50% - 330px)}
.featuresHeader-2bjq5B {
	text-align: center;
	margin-top: 16px;
}
.outer-VAWfYQ.video-293uMj.videoWrapper-1_H3B3 {
	padding: 0 !important;
	width: 640px;
	height: 360px;
}
.notificationSettings-1U0JsJ {max-width: 35%}
.searchBar-zdmu7v {width: 240px}
.avatarWrapperNonUserBot-2LumL4 + .headerTop-3GPUSF .botText-1fD6Qk:before {content: 'WEBHOOK '}
.avatarWrapperNonUserBot-2LumL4 + .headerTop-3GPUSF + div {display: none}
.unreadMentionsIndicatorBottom-3RJMnQ {display: none}
.tutorialContainer-2jwoiB + .listItem-3SmSlK {display: none}
.inviteSplash-2Q0PLE {
	width: 790px;
}
