:root {
	/* Set the height of the server list (with HSL) and the size of the window buttons */
	--server-container: calc(var(--server-size, 22px) + 15px) !important;
	/* (With HSL) Margin above and below server list */
	--server-margin: calc(var(--server-spacing) - calc(var(--server-spacing) - 5px));
	/* Adjust right margin of the toolbar depending on HSL presence */
	--toolbar-margin: calc(3 * var(--server-container) - 8px - var(--toolbar-margin-hsl, 0px));
	--toolbar-margin-hsl: calc(3 * calc(var(--server-size) + 15px) - 8px);
	/* Adjust the position of the server folder background depending on HSL presence */
	--fix-folder: calc(12px + var(--fix-folder-hsl, 0px));
	--fix-folder-hsl: calc(var(--server-size) / 2 - 7px);
}


/* List of private channels */
	/* Remove Nitro tab */
	.link-39sEB3[href="/store"] {display: none}
	/* Remove Friends tab (configurable) */
	.link-39sEB3[href="/channels/@me"] {
		display: var(--bui-friends-tab, block);
	}
	/* Reduce margin between search and DM */
	.content-yjf30S > div[style="height: 8px;"] {
		display: var(--bui-friends-tab);
	}
	/* Reduce margin above "DIRECT MESSAGES" */
	.privateChannelsHeaderContainer-1UWASm {
		padding-top: 4px;
		height: 22px;
	}
	/* Don't change text colour when hovering over "DIRECT MESSAGES" */
	.privateChannelsHeaderContainer-1UWASm:hover {
		color: rgb(142, 146, 151);
	}


/* Settings navigation bar */
	/* Remove left margin */
	.sidebarRegion-1VBisG {flex: 0}
	/* Compact navigation bar */
	.sidebar-nqHbhN {padding: 10px 5px 5px 5px}
	/* Reduce tab height slightly */
	.item-3XjbnG.themed-2-lozF {padding: 5px 10px}
	/* Reduce margin around tab separator */
	.separator-2wx7h6 {margin: 2px 2px 4px 2px !important}
	/* Parity between BD header and Discord header */
	.header-2Kx1US {padding: 6px 10px !important}


/* Allow pages to use full width */
	/* Common rule */
	.contentColumn-1C7as6, .customScroller-m1-jZn > div, .customColumn-2n-oKU {
		padding: 20px;
		max-width: 95%;
	}
	/* For some server pages, remove space above title */
	.content-2a4AW9 div[style*="height: 60px;"] {height: 0 !important}
	/* Same for server logs */
	.content-28mbXd .customHeader-3mDgmH {padding: 0}
	/* Correct borders for server logs */
	.content-2a4AW9, .content-28mbXd {margin: 0 !important}
	/* Additional corrections for roles page */
		/* Remove space above the back button */
		.titleContainer-3fPic2 {padding-top: 0}
		/* Allow the right zone to take more space */
		.contentWidth-3aWel5 {max-width: 95%}
		/* Remove space above right zone */
		.header-JUTO-g {padding-top: 20px}
		/* To render correctly, adjust the right zone */
		.contentContainer-3hXFtK, .headerContainer-7V7BBm {padding-left: 20px !important}


/* Messages */
	/* Remove gift button */
	.buttons-uaqb-5 > button {display: none}
	/* Remove other buttons (configurable) */
	.buttons-uaqb-5 {display: var(--bui-message-buttons, flex)}
	/* Reduce space below the message sending box */
	.channelTextArea-1FufC0.channelTextArea-1VQBuV, .wrapper-2SplAX {margin: 0}
	/* Add 10 px of padding around it */
	.form-3gdLxP {padding: 10px}
	/* Fix the grey bar that indicates it is showing older messages */
	.jumpToPresentBar-1cEnH0 {padding: 0}
	/* Move pseudo of writing users */
	.typing-2J1mQU {height: 10px}
	/* Reduce space between the last message and the message sending box */
	.scrollerSpacer-3AqkT9 {height: 5px}
	/* Reduce space around dates that separate messages */
	.divider-IqmEqJ.hasContent-1y12-u.divider-2rZFJK.hasContent-31hcsn {margin: 10px}
	/* Reduce the side margin of messages */
	.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB {
		padding-right: 5px !important;
		padding-left: 60px;
	}
	/* Reduce space around avatar */
	.avatar-2e8lTP {left: 10px}
	/* Reduce space around icon containers (call, thread) */
	.iconContainer-2rPbqG {width: 60px !important}
	/* Fix for thread */
	.message-2CShn3.cozyMessage-1DWF9U.wrapper-30-Nkg.cozy-VmLDNB:after {
		left: 29px !important;
		width: 1.25em;
	}


/* Message editing */
	/* Remove the help below the edit box */
	.operations-3q3u6E {display: none}
	/* Remove margin above the edit box */
	.channelTextArea-220_Gz.channelTextArea-1VQBuV {margin: 0}
	/* Remove space around message */
	.markup-eYLPri.slateTextArea-27tjG0.fontSize20Padding-1vWJeR.textAreaWithoutAttachmentButton-1as0NS {padding: 0}


/* Integrate window buttons into the UI */
	/* Remove the logo */
	.wordmarkWindows-2dq6rw {display: none}
	/* Remove the window bar */
	.typeWindows-2-g3UY {
		position: absolute;
		width: 100%;
		height: 10px;
		margin: 0;
	}
	/* Change buttons size */
	.winButton-3UMjdg {
		top: 0;
		height: var(--server-container);
		width: var(--server-container);
	}
	/* Adjust the close button of the settings */
	.toolsContainer-25FL6V {padding-top: calc(10px + var(--server-container))}
	/* Move the toolbar to the left side (adapt to HSL absence) */
	.toolbar-3_r2xA {margin-right: var(--toolbar-margin)}
	/* For HSL */
		/* Reduce margin below servers */
		.guilds-2JjMmN [class*=listItem]:not([class*=listItemWrapper]) {
			margin: var(--server-spacing, 8px) var(--server-margin, 0) !important;
		}
		/* Fix server folder background */
		.expandedFolderBackground-1kSAf6 {left: var(--fix-folder) !important}
		/* Fix servers that appear under window buttons */
		.scroller-3X7KbA.none-1rXy4P.scrollerBase-1Pkza4 {
			margin-bottom: calc(3 * calc(var(--server-size) + 15px));
		}


/* Enhance RadialStatus */
	/* Use RS' avatar shape in message and server call */
	.avatar-2e8lTP, .avatar-3FKimL {border-radius: var(--rs-avatar-shape, 50%)}


/* Others */
	/* Center role name in server members list */
	.membersGroup-2eiWxl {padding: 12px}
	/* Adjust to MinifiedMemberList */
	.membersWrap-3NUR2t .membersGroup-2eiWxl::after {top: 18px}
	/* Reduce toolbar height */
	.container-ZMc96U, .header-3OsQeK, .searchBar-3TnChZ {height: 37px}
	/* Fix server name */
	.header-3OsQeK {padding-top: 7px}
	/* Reduce space around server categories */
	.containerDefault-3TQ5YN {padding-top: 10px}
	/* Fix space between server banner and the first category/channel */
	.hasBanner-2IrYih + div + .positionedContainer-W9XtGp + .scrollerBase-1Pkza4 > .content-yjf30S > div[style="height: 84px;"] {
		height: 98px !important;
	}
	/* Reduce space used by the button to close settings */
	.toolsContainer-25FL6V {margin-right: 15px !important}
	/* Fix HypeSquad video */
	.outer-VAWfYQ.video-293uMj.videoWrapper-1_H3B3 {
		padding: 0 !important;
		width: 640px;
		height: 360px;
	}
	/* Fix overlay page */
	.notificationSettings-3dppO6 {max-width: 35%}
	/* Fixed width search bar */
	.searchBar-jGtisZ {width: 240px}
	/* Remove unread mention appearing on server list */
	.unreadMentionsIndicatorBottom-3RJMnQ {display: none}
	/* Remove Discovery button */
	.tutorialContainer-2jwoiB + .listItem-3SmSlK {display: none}
	/* Server invite image displayed correctly */
	.inviteSplash-2Q0PLE {
		width: 790px;
	}
