:root {
	/* Visibility of the Friends tab | OPTIONS: block (visible), none (removed) | DEFAULT: block */
	--bui-friends-tab: none;
	/* Visibility of the GIF, sticker and emoji buttons | OPTIONS: flex (visible), none (removed) | DEFAULT: flex */
	--bui-message-buttons: none;

	/* Set the height of the server list (for HSL) and the size of a server icon */
	--server-list-height: 45px;
	--server-icon-size: 37px;
}


/* List of private channels */
	/* Remove Nitro and Store tabs */
	.link__972a0[href="/store"], .link__972a0[href="/shop"] {display: none}
	/* Remove Friends tab (configurable) */
	.link__972a0[href="/channels/@me"] {
		display: var(--bui-friends-tab, block);
	}
	/* Reduce space between search and DM */
	.content__99f8c > div[style="height: 8px;"] {
		display: var(--bui-friends-tab);
	}
	.sectionDivider__35e86 {
		display: var(--bui-friends-tab);
		margin: 5px !important;
	}
	/* Don't change text colour when hovering over "DIRECT MESSAGES" */
	.privateChannelsHeaderContainer__99e7c:hover {
		color: rgb(142, 146, 151);
	}


/* Settings navigation bar */
	/* Remove left margin */
	.sidebarRegion__23e6b {flex: 0}
	/* Compact navigation bar */
	.sidebar__23e6b {padding: 10px 5px 5px 5px}


/* Allow pages to use full width */
	/* Common rule */
	.contentColumn__23e6b, .customScroller__23e6b > div, .customColumn__23e6b, .content_dbba93, .container_cdb2b0 {
		padding: 20px;
		max-width: 95%;
	}
	/* Family centre */
	.container__8e680 > div {
		max-width: 95%;
	}
	/* Server profile */
	.leftColumn_dbba93 {
		max-width: 95% !important;
	}
	/* Server members */
	.customColumn__23e6b {padding: 0}
	.settingsHorizontalScroller_fa2640.auto_d125d2.scrollerBase_d125d2 {margin: 0 !important}
	.customColumn__23e6b.contentColumnDefault__23e6b.override_fa2640.settingsColumn_fa2640.settingsContent_fa2640 {max-width: 95% !important}
	/* Server roles and invitations */
	.customScroller__23e6b .content__99f8c > div[aria-hidden="true"] {display: none}
	.content__99f8c {margin: 0 !important}
	/* Server bans */
	.container_cdb2b0 {padding: 0}
	/* Server logs */
	.content__5906b .customHeader__5906b {padding: 0}
	.content-2a4AW9, .content__5906b {margin: 0 !important}
	/* Additional corrections for roles page */
		/* Remove space above the back button */
		.titleContainer_e29cd7 {padding-top: 0}
		/* Allow the right zone to take more space */
		.contentWidth_c6bf1b {max-width: 95%}
		/* Remove space above right zone */
		.header_c6bf1b {padding-top: 20px}
		/* To render correctly, adjust the right zone */
		.contentContainer__91dc3, .headerContainer__9a73f {padding-left: 20px !important}


/* Messages */
	/* Remove gift button */
	.buttons__74017 > button {display: none}
	/* Remove other buttons (configurable) */
	.buttons__74017 {display: var(--bui-message-buttons, flex)}
	/* Reduce space below the message sending box */
	.channelTextArea_f75fb0.channelTextArea__74017, .wrapper__44df5 {margin: 0}
	/* Add 10 px of padding around it */
	.form_f75fb0 {padding: 10px}
	/* Move pseudo of writing users */
	.typing_b88801 {height: 10px}
	/* Reduce space between the last message and the message sending box */
	.scrollerSpacer__36d07 {height: 0 !important}
	/* Reduce space around dates that separate messages */
	.divider__5126c.hasContent__5126c.divider__908e2.hasContent__908e2 {margin: 10px}
	/* Message editing */
		/* Remove the help below the edit box */
		.operations_bab751 {display: none}
		/* Remove space above the edit box */
		.channelTextArea__5126c.channelTextArea__74017 {
			margin: 0;
			border: 0;
		}
		/* Remove space around message */
		.markup__75297.slateTextArea_ec4baf.fontSize20Padding__74017.textAreaWithoutAttachmentButton__74017 {padding: 0}
		.channelTextArea__5126c.channelTextArea__74017 .scrollableContainer__74017.themedBackground__74017 .inner__74017 {padding: 0 !important}


/* Enhance Horizontal Server List */
	/* Reduce server icon size */
	.wrapper_cc5dd2 svg {
		max-height: var(--server-icon-size) !important;
		max-width: var(--server-icon-size) !important;
	}
	/* Reduce space around server icons */
	.listItem__650eb {
		height: 30px;
		max-width: var(--server-icon-size) !important;
	}
	/* Fix server folder background width */
	.wrapper__48112.isExpanded__48112 .stack_dbd263 {
		height: unset !important;
	}
	/* Fix server folder background positionning */
	.expandedFolderBackground__48112 {
		left: 4px !important;
		width: var(--server-icon-size) !important;
	}
	/* Fix server folder icon positionning */
	.wrapper_cc5dd2 {
		max-height: var(--server-icon-size) !important;
		max-width: var(--server-icon-size) !important;
	}
	/* Reduce server list height */
	.content_c48ade {
		margin-top: var(--server-list-height) !important;
	}
	/* Reduce padding around DM button */
	.wrapper_ef3116.guilds_c48ade .tree_ef3116 {
		padding-top: 0px !important;
	}
	/* Remove empty space that appear next to the PM button */
	.tutorialContainer__1f388 + .listItem__650eb {
		display: none !important;
	}
	div[style="opacity: 1; height: 40px; transform: scale(1);"] + .listItem__650eb {
		display: none !important;
	}


/* Enhance RadialStatus */
	/* Use RS' avatar shape in message and server call */
	.avatar_c19a55, .avatar__07f91 {border-radius: var(--rs-avatar-shape, 50%)}


/* Others */
	/* Center role name in server members list */
	.membersGroup_c8ffbb {padding: 12px !important}
	/* Fix for MinifiedMemberList */
	.membersWrap_c8ffbb .membersGroup_c8ffbb::after {top: 19px !important}
	/* Reduce private message toolbar height */
	.container__9293f, .searchBar__35e86 {height: 40px !important}
	.theme-dark.images-dark.container__9293f.themed__9293f {
		padding: 5px;
		min-height: 40px;
	}
	/* Reduce private call toolbar height */
	.title_f75fb0.container__9293f.transparent__9293f {
		min-height: 40px;
	}
	/* Fix space between server name and first category/channel */
	.content__99f8c > div[style="height: 0px;"] {
		height: 10px !important;
	}
	/* Fix space under server banner */
	.content__99f8c > div[style="height: 84px;"] {
		height: 90px !important;
	}
	/* Fix HypeSquad video */
	.video_b8f10d.videoWrapper__56ac8 {
		padding: 0 !important;
		width: 640px;
		height: 360px;
	}
	/* Fix overlay page */
	.notificationSettings__4d38b {max-width: 35%}
	/* Remove unread mention appearing on server list */
	.unreadMentionsBar_ef3116 {display: none}
	/* Remove Discovery button */
	.tutorialContainer__650eb + .listItem__650eb {display: none}
	/* Server invite image displayed correctly */
	.inviteSplash__9b0f4 {width: 790px}
	/* Reduce the server toolbar padding */
	.title_f75fb0.container__9293f.themed__9293f {
		padding: 5px;
		min-height: 40px;
	}
	/* Remove the top bar's title */
	.title_c38106 {display: none}
	/* Don't display the top bar */
	.visual-refresh .base_c48ade {
		grid-template-rows: [top] 0px [titleBarEnd] min-content [noticeEnd] 1fr [end];
	}
	/* Move the two buttons from the top bar to the toolbar */
	.bar_c38106 {
		position: absolute;
		right: 18px;
		top: var(--server-list-height);
		min-height: 39px;
		margin-top: 1px;
		padding: 0;
		z-index: 101;
	}
	/* Move the toolbar to the left */
	.toolbar__9293f {margin-right: 100px}
	/* Add top margin to the private massages button */
	.tutorialContainer__1f388 .listItem__650eb {margin-top: 6px}
