:root {
	/* Visibility of the Friends tab | OPTIONS: block (visible), none (removed) | DEFAULT: block */
	--bui-friends-tab: none;
	/* Visibility of the GIF, sticker and emoji buttons | OPTIONS: flex (visible), none (removed) | DEFAULT: flex */
	--bui-message-buttons: none;

	/* Set the height of the server list (for HSL) and the size of a server icon */
	--server-list-height: 45px;
	--server-icon-size: 40px;
}


/* List of private channels */
	/* Remove Nitro, Store and Quests tabs */
	._972a0d22c8afa7f0-link[href="/store"], ._972a0d22c8afa7f0-link[href="/shop"], ._972a0d22c8afa7f0-link[href="/quest-home"] {display: none}
	/* Remove Friends tab (configurable) */
	._972a0d22c8afa7f0-link[href="/channels/@me"] {
		display: var(--bui-friends-tab, block);
	}
	/* Reduce space between search and DM */
	.d125d22cdfd32cfe-content > div[style="height: 8px;"] {
		display: var(--bui-friends-tab);
	}
	.e6b7699ce8339e1c-sectionDivider {
		display: var(--bui-friends-tab);
		margin: 5px !important;
	}
	/* Don't change text colour when hovering over "DIRECT MESSAGES" */
	._99e7cad8d4c55236-privateChannelsHeaderContainer:hover {
		color: rgb(142, 146, 151);
	}


/* Settings navigation bar */
	/* Remove left margin */
	._23e6b439306f125a-sidebarRegion {flex: 0}
	/* Compact navigation bar */
	._23e6b439306f125a-sidebar {padding: 10px 5px 5px 5px}


/* Allow pages to use full width */
	/* Common rule */
	._23e6b439306f125a-contentColumn, ._23e6b439306f125a-customScroller > div, ._23e6b439306f125a-customColumn, .dbba9320d9989b05-content, ._4b8d892e5bcb9bd7-container {
		padding: 20px;
		max-width: 95%;
	}
	/* Family centre */
	._8e680ffe35110238-container > div {
		max-width: 95%;
	}
	/* Server profile */
	.dbba9320d9989b05-leftColumn {
		max-width: 95% !important;
	}
	/* Server members */
	._23e6b439306f125a-customColumn {padding: 0}
	.fa2640ef99d88f6e-settingsHorizontalScroller.d125d22cdfd32cfe-auto.d125d22cdfd32cfe-scrollerBase {margin: 0 !important}
	._23e6b439306f125a-customColumn._23e6b439306f125a-contentColumnDefault.fa2640ef99d88f6e-override.fa2640ef99d88f6e-settingsColumn.fa2640ef99d88f6e-settingsContent {max-width: 95% !important}
	/* Server roles and invitations */
	._23e6b439306f125a-customScroller ._99f8cc7ad4790ce9-content > div[aria-hidden="true"] {display: none}
	._99f8cc7ad4790ce9-content {margin: 0 !important}
	/* Server bans */
	._4b8d892e5bcb9bd7-container {padding: 0}
	/* Server logs */
	._5906b5e639ffa713-content ._5906b5e639ffa713-customHeader {padding: 0}
	.content-2a4AW9, ._5906b5e639ffa713-content {margin: 0 !important}
	/* Additional corrections for roles page */
		/* Remove space above the back button */
		.e29cd7b93c4f1266-titleContainer {padding-top: 0}
		/* Allow the right zone to take more space */
		.c6bf1b7af480dfda-contentWidth {max-width: 95%}
		/* Remove space above right zone */
		.c6bf1b7af480dfda-header {padding-top: 20px}
		/* To render correctly, adjust the right zone */
		._91dc3971e82843c1-contentContainer, ._9a73f1a84c858f76-headerContainer {padding-left: 20px !important}


/* Messages */
	/* Remove gift button */
	._740174f3d6a2c8fe-buttons > button {display: none}
	/* Remove other buttons (configurable) */
	._740174f3d6a2c8fe-buttons {display: var(--bui-message-buttons, flex)}
	/* Move pseudo of writing users */
	.b8880176888cc928-typing {height: 30px}
	/* Reduce space between the last message and the message sending box */
	._36d072eab2b2e737-scrollerSpacer {height: 25px !important}
	/* Reduce space around dates that separate messages */
	._5126c0cd07f243a0-divider._5126c0cd07f243a0-hasContent._908e20001ad67812-divider._908e20001ad67812-hasContent {margin: 10px}
	/* Message editing */
		/* Remove the help below the edit box */
		.bab7519355c8eed6-operations {display: none}
		/* Remove space above the edit box */
		._5126c0cd07f243a0-channelTextArea._740174f3d6a2c8fe-channelTextArea {
			margin: 0;
			border: 0;
		}
		/* Remove space around message */
		._752971923a1e6683-markup.ec4baf0360ff3578-slateTextArea.fontSize20Padding__74017.textAreaWithoutAttachmentButton__74017 {padding: 0}
		._5126c0cd07f243a0-channelTextArea._740174f3d6a2c8fe-channelTextArea ._740174f3d6a2c8fe-scrollableContainer._740174f3d6a2c8fe-themedBackground ._740174f3d6a2c8fe-inner {padding: 0 !important}


/* Enhance Horizontal Server List */
	/* Reduce server icon size */
	.cc5dd25190031396-wrapper svg {
		max-height: var(--server-icon-size) !important;
		max-width: var(--server-icon-size) !important;
		left: 2px;
	}
	/* Reduce space around server icons */
	._650eb104245d257b-listItem {
		height: 30px;
		max-width: var(--server-icon-size) !important;
	}
	/* Fix server folder background width */
	._48112cbe77dc5022-folderGroup._48112cbe77dc5022-isExpanded .dbd2630aec71879b-stack {
		height: unset !important;
	}
	/* Fix server folder background positionning */
	._48112cbe77dc5022-folderGroupBackground {
		left: 3px !important;
		width: var(--server-icon-size) !important;
	}
	/* Reduce server list height */
	._5e434347c823b592-content {
		margin-top: var(--server-list-height) !important;
	}
	/* Reduce padding around DM button */
	.ef3116c2da186559-wrapper._5e434347c823b592-guilds .ef3116c2da186559-tree {
		padding-top: 0px !important;
	}


/* Enhance RadialStatus */
	/* Use RS' avatar shape in message and server call */
	.c19a557985eb7793-avatar, ._07f9193042954787-avatar {border-radius: var(--rs-avatar-shape, 50%)}


/* Others */
	/* Center role name in server members list */
	.c8ffbb79449f399c-membersGroup {padding: 12px !important}
	/* Fix for MinifiedMemberList */
	.c8ffbb79449f399c-membersWrap .c8ffbb79449f399c-membersGroup::after {top: 19px !important}
	/* Reduce private message toolbar height */
	._9293f6b2fc12398a-container, .e6b7699ce8339e1c-searchBar {height: 40px !important}
	.theme-dark.images-dark._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
		padding: 5px;
		min-height: 40px;
	}
	/* Reduce private call toolbar height */
	.f75fb00fb7356cbe-title._9293f6b2fc12398a-container._9293f6b2fc12398a-transparent {
		min-height: 40px;
	}
	/* Fix space between server name and first category/channel */
	._99f8cc7ad4790ce9-content > div[style="height: 0px;"] {
		height: 10px !important;
	}
	/* Fix space under server banner */
	._99f8cc7ad4790ce9-content > div[style="height: 84px;"] {
		height: 90px !important;
	}
	/* Fix HypeSquad video */
	.video_b8f10d.videoWrapper__56ac8 {
		padding: 0 !important;
		width: 640px;
		height: 360px;
	}
	/* Fix overlay page */
	.notificationSettings__4d38b {max-width: 35%}
	/* Remove unread mention appearing on server list */
	.ef3116c2da186559-unreadMentionsBar {display: none}
	/* Remove Discovery button */
	._650eb104245d257b-tutorialContainer + ._650eb104245d257b-listItem {display: none}
	/* Server invite image displayed correctly */
	._9b0f44488203477c-inviteSplash {width: 790px}
	/* Reduce the server toolbar padding */
	.f75fb00fb7356cbe-title._9293f6b2fc12398a-container._9293f6b2fc12398a-themed {
		padding: 5px;
		min-height: 40px;
	}
	/* Remove the top bar's title */
	.c38106a3f0c3ca76-title {display: none}
	/* Don't display the top bar */
	.visual-refresh ._5e434347c823b592-base {
		grid-template-rows: [top] 0px [titleBarEnd] min-content [noticeEnd] 1fr [end];
	}
	/* Move the two buttons from the top bar to the toolbar */
	.c38106a3f0c3ca76-bar {
		position: absolute;
		right: 18px;
		top: var(--server-list-height);
		min-height: 39px;
		margin-top: 1px;
		padding: 0;
		z-index: 101;
	}
	/* Move the toolbar to the left */
	._9293f6b2fc12398a-toolbar {margin-right: 100px}
	/* Add top margin to the private massages button */
	._1f388bcaa446c0c8-tutorialContainer ._650eb104245d257b-listItem {margin-top: 6px}
